.ingredient-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 80px;
    width: 80%;
    background: #fff;
    padding: 10px 20px;
    border-radius: 8px;
}

.ingredient-item img {
    display: block;
    width: 75px;
    height: 75px;
    padding: 5px;
    object-fit: contain;
    border: 2px solid #281E1EFF;
    cursor: pointer;
    border-radius: 8px;
    box-sizing: border-box;
}

.ingredient-item .name {
    margin-left: 50px;
}

.ingredient-item .quantity {
    margin: 0 10px;
}

.ingredient-item .price {
    margin: 0 10px;
}

.ingredient-item .decrease,
.ingredient-item .increase {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ingredient-item .decrease {
    margin-left: auto;
}
.ingredient-item .increase {
    margin-right: 30px;
}

.ingredient-item .delete svg{
    margin-left: 10px;
    width: 30px;
    height: 30px;
}

.ingredient-item .delete:hover svg {
    fill:red;
}

.ingredient-item .decrease,
.ingredient-item .increase,
.ingredient-item .delete {
    cursor: pointer;
}